<div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="assets/trending/trend-5.jpg">
        <div class="ep">18 / 18</div>
        <div class="comment"><i class="fa fa-comments"></i> 11</div>
        <div class="view"><i class="fa fa-eye"></i> 9141</div>
    </div>
    <div class="product__item__text">
        <ul>
            <li>Active</li>
            <li>Movie</li>
        </ul>
        <h5><a [routerLink]="['/anime-detail', 1]">Shiratorizawa Gakuen Koukou</a></h5>
    </div>
</div>