.anime-grid {
    display: grid;
    /* * Chia lưới thành các cột có kích thước tự động.
     * Ở đây, tôi tạo 4 cột. minmax() đảm bảo kích thước tối thiểu là 250px 
     * và phân phối phần không gian còn lại (1fr).
     */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Khoảng cách giữa các thẻ sản phẩm */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Căn giữa vùng chứa */
}

.p-not-found {
    text-align: center;
    width: 100%;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
}

.paginator {
    margin-top: 60px;
}